header, nav, section, footer {
    border-style: solid;
}
.center {
    text-align: center;
}
.clearable {
    clear: both;
}

.account-dropdown {
    padding-left: 10px;
}

.clarion-gold {
    background-color: #97824A;
}

.clarion-blue {
    background-color: #003366;
}

.clarion-white {
    color: white;
}

.account-dropdown {
    padding-left: 30px;
}
.category-heading{
    color: white;
}

.vl {
  border-left: 6px solid #003366;
  height: 50px;
}
hr {width: 50px; color: #97824A}