header, nav, section, footer {
    border-style: solid;
}
.center {
    text-align: center;
}
.clearable {
    clear: both;
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

.account-dropdown {
    padding-left: 10px;
}

.clarion-gold {
    background-color: #97824A;
}

.clarion-blue {
    background-color: #003366;
}

.clarion-white {
    color: white;
}

.account-dropdown {
    padding-left: 30px;
}